@use "sass:map";
@use "variables";

@function bp($key) {
  @return map.get(variables.$breakpoints, $key);
}

@mixin respond-to($key) {
  @media (max-width: bp($key)) {
    @content;
  }
}

@mixin visually-hidden {
  position: absolute !important;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
