name: Build JESM Theme 

on:
    push:
        branches: [ main ]

jobs:
    build-deploy:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout repository
              uses: actions/checkout@v4

            - name: Setup Node
              uses: actions/setup-node@4
              with:
                node-version: '18'

            - name: Install dependencies
              run: npm ci

            - name: Build styles
              run: npm run build

            # - name: Deploy //дописать куда 
